@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <div class="container mt-5">
        <div class="row">
            <!-- First Post Preview -->
            <div class="col-md-4">
                <div class="card post-preview">
                    <img src="https://placehold.co/600x400" class="card-img-top img-fluid" alt="Post Image 1">
                    <div class="card-body">
                        <span class="badge badge-primary">Category 1</span>
                        <h5 class="card-title mt-2">Post Title 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vitae lectus vehicula bibendum.</p>
                    </div>
                </div>
            </div>

            <!-- Second Post Preview -->
            <div class="col-md-4">
                <div class="card post-preview">
                    <img src="https://placehold.co/600x400" class="card-img-top img-fluid" alt="Post Image 2">
                    <div class="card-body">
                        <span class="badge badge-primary">Category 2</span>
                        <h5 class="card-title mt-2">Post Title 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vitae lectus vehicula bibendum.</p>
                    </div>
                </div>
            </div>

            <!-- Third Post Preview -->
            <div class="col-md-4">
                <div class="card post-preview" style="width: 100px;">
                    <img src="https://placehold.co/60000x40000" class="card-img-top img-fluid" alt="Post Image 3" style="object-fit: cover;">
                    <div class="card-body">
                        <span class="badge badge-primary">Category 3</span>
                        <h5 class="card-title mt-2">Post Title 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vitae lectus vehicula bibendum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card post-preview">
                    <img src="https://placehold.co/60000x40000" class="card-img-top img-fluid" alt="Post Image 3">
                    <div class="card-body">
                        <span class="badge badge-primary">Category 3</span>
                        <h5 class="card-title mt-2">Post Title 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget felis vitae lectus vehicula bibendum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>