@model Post;

@{
    ViewData["Title"] = "Page";
    var now = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    List<String> CategoriesAll = ViewData["CategoriesAll"] as List<string>;
}
<div>
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["Message"]
        </div>
    }
    else if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["Error"]
        </div>
    }

    @if (ViewData["CategoriesAll"] != null)
    {
        <p>Fuckkoy</p>
    }

</div>


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Post</h2>
            <hr />
        </div>
        <input asp-for="CreatedAt" type="hidden" value=@now />

        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Content" class="p-0"></label>
            <textarea id="default-editor" asp-for="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CoverPhoto" class="p-0"></label>
            <input asp-for="CoverPhoto" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Category.CategoryName" class="p-0"></label>

            <select asp-for="Category.CategoryId" class="form-control">
                <option value="">Select a category</option>
                @for (int i = 0; i < CategoriesAll.Count; i++)
                {
                    <option value="1">@CategoriesAll[i]</option>
                }
            </select>

            <span asp-validation-for="Category.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Category.CategoryName" class="p-0"></label>
            <input asp-for="Category.CategoryName" class="form-control" />
            <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Slug" class="p-0"></label>
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Add Post</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border  form-control">
                    Back Home
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{

        <partial name="_ValidationScriptsPartial" />
        <script defer>
            document.addEventListener("DOMContentLoaded", async () => {
                await tinymce.init({
                    selector: '#default-editor'
                });
            })
        </script>
    }

}