@model Post;
   

@if(Model != null){
        ViewData["Title"] = @Model.Title;

    <div class="text-center">
    <h1 class="display-4">@Model.Title</h1></div>
<br />

        <p>@Model.Content</p>

} else{
            ViewData["Title"] = "Not Found";

<div class="text-center">
    <h1 class="display-4">Not Found</h1></div>}

