@model Post;
   
@{
    ViewData["Title"] = "111";
}

<div class="text-center">
    <h1 class="display-4">Posts</h1>
</div>

<ul>
@if(Model != null){
<li>
    @Model.Title
</li>
} else{
    <h1>Not found</h1>
}

<br />


</ul>