@model Post;
   

@if(Model != null){
        ViewData["Title"] = @Model.Title;

    <div class="text-center">
    <h1 class="display-4">@Model.Content</h1></div>
<br />

        <div>@Html.Raw(Model.Content)</div>

} else{
            ViewData["Title"] = "Not Found";

<div class="text-center">
    <h1 class="display-4">Not Found</h1></div>}

